# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Byte-compiled Python files
*.pyc
__pycache__/

# Virtual environment directories
venv/
.virtualenv/

# Pygame build directories
build/
dist/

# Django-specific files
*.log
*.pot
local_settings.py
db.sqlite3

# Ansible
.env

# React
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components

# IDE-specific directories (e.g., Visual Studio Code)
.vscode/

# Log and debug files
*.log

# Miscellaneous
*.sublime*

# Test metronome sounds
backend/metronome_sounds/*.wav
backend/metronome_sounds/*.mp3
backend/metronome_sounds/*.ogg
backend/metronome_sounds/test*
!backend/metronome_sounds/.gitkeep
