# Byte-compiled Python files
*.pyc
__pycache__/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Pygame build directories
build/
dist/

# Virtual environment directories
venv/
.virtualenv/

# IDE-specific directories (e.g., Visual Studio Code)
.vscode/

# Log and debug files
*.log

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3