/* File: src/components/Header.css */

/* Styling for the header container */
  .header {
    padding: 20px;
    text-align: center;
  }
  
  /* Styling for the header title */
  .header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
  }
  
  /* Styling for 'Libre' part of the title */
  .header h1 .libre {
    color: #f8d38d;
  }
  
  /* Styling for 'Metronome' part of the title */
  .header h1 .metronome {
    color: #0ca3b2;
  }
  