/* File: src/components/Footer.css */

/* Styling for the footer container */
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  /* Styling for the separator element */
  /* The margin-bottom property provides the desired spacing between the separator and footer content */
  .separator {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--primary-teal-light);
  }
  