/* SubdivisionSelector.css */

.subdivision-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

.subdivision-button {
  width: 36px;
  height: 36px;
  cursor: inherit;
  object-fit: contain;
  margin: 0;
}
