/* Global styles and CSS variables */

/* Default: Dark Mode */
:root {
  --accent-color: #2196F3;        /* Blue accent color for active markers */
  --primary-color: #ffffff;       /* For non-accented elements and pointer in Dark Mode */
  --background-color: #121212;    /* Dark background */
  --text-color: #ffffff;
  --circle-outline: #ffffff;      /* Outer circle color in Dark Mode */
}

/* Light Mode Overrides */
.light-mode {
  --accent-color: #2196F3;
  --primary-color: #333333;
  --background-color: #f0f0f0;
  --text-color: #333333;
  --circle-outline: #cccccc;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
